#center {
    background-color: #F6DB7D;
}

#leaf{
    background-image: url("../src/canadaLead.svg");
    background-size: contain;
    position: relative;
    left: -3vw;
    top: 10vh;

    height: 10vh;

    z-index: 863;
}