#center {
    background-color: #F6DB7D;
}

#leaf{
    background-image: url("./files/src/canadaLead.svg");
    background-size: contain;
    position: relative;
    left: -3vw;
    top: 10vh;

    height: 10vh;

    z-index: 863;
}

#bg{
    background-image: url("./files/src/CanadaHeader.png");
    background-repeat: no-repeat;
    background-size: 100vw 20vh;
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
}