header {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    z-index: 100;
    position: absolute;
    top: 5vh;
    left: 15vh;
    width: 70vh;
}

form {
    margin-top: 10px;
    display : flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content : center;
}

body {
    width: 75%;
    margin-left: 12.5%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
}

p {
    text-indent: 20px;
    color: dimgrey;
    text-align: justify;
    font-family: Open Sans;
}

label {
    color : black;
    margin-left: 10px;
    font-family: Open Sans;
}

.buttons {
    display : flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.headerButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    padding-top: 10px;
}

button:hover {
}

button:active {
}

#forms{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;}

.formbutton {
    /*margin-top: 10vh;*/
    box-sizing: border-box;
    border-radius: 25px;
    padding : 10px;
    background-color: #F5DA77;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    width: 50vw;
}

input {
    background-color: whitesmoke;
    border: none;
    padding-bottom: 1px;
    border-bottom: 1px solid dimgrey;
    color: black;
}

.input-item {
    margin: 5px;
}

input::placeholder {
    color: dimgrey;
}

input:focus {
    outline: none;
}

input:invalid {
    outline: none;
    border: none;
    box-shadow: none;
    caret-color: orangered;
    border-bottom: 1px solid orangered;
}

.mainContent {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-between;
    font-family: Open Sans;
    color: dimgrey;
    background-color: #B6B39F;

    padding-top: 10vh;

    height: 60vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 20vh;
}

td {
    margin: 10px;
    justify-content: center;
    width : 30% ;
    text-align : center;
    padding : 5px;
    /*border-top : 2px solid whitesmoke;*/
}

/*.fatigue*/
/*{*/
/*    background-color: darkgrey;*/
/*    box-shadow: 1px 1px 2px darkgrey;*/
/*}*/

.navigationButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    align-self: center;

    position: relative;
    top: 0;
    margin-bottom: 10px;
}

.navigationButtons > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

/*.navigationButtons > div > button {*/
/*    padding-bottom: 10px;*/
/*}*/

#flex-prev {
    padding: 2vw;
    background-image: url("../src/btn/prev.png");
    background-size: contain;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}

#btn-back{
    /*padding: 10px;*/
    background-color: rgba(1, 1, 1, 0);
    border: none;
    cursor:pointer;
}

#flex-next{
    padding: 2vw;
    background-image: url("../src/btn/next.png");
    background-size: contain;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;

}

#btn-forward{
    /*padding: 10px;*/
    background-color: rgba(1, 1, 1, 0);
    border: none;
    cursor:pointer;
}

#nav-bar{
    top: 5vh !important;
}

#listOfNameWhatALongIdForUHugo {
    display: flex;
    flex-flow: column;

    align-items: center;
    align-self: center;

    width: 75%;
}

#listOfNameWhatALongIdForUHugo > div {
    display: flex;
    flex-direction: row;

    width: 100vw;

    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 50vh;

    margin-right: 10vw;
    padding-left: 25vw;
    padding-right: 5vw;
    padding-bottom: 16px;

    background: rgba(239, 193, 28, 0.8);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.firstname {
    margin-top: 0;
    margin-bottom: 0;
}

.lastname{
    margin-top: 0;
    margin-bottom: 0;
}

.email{
    height: 50vh;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    margin-left: 0;
    padding-right: 45vw;
    padding-left: 5vw;
    margin-top: 0;
    padding-top: 16px;
}

.email1{
    justify-self: flex-end;
    /*margin-left: 0;*/
    /*padding-left: 18vw;*/
    /*margin-top: 0;*/
    /*padding-top: 16px;*/

    margin-right: 2vw;
}

.name1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /*margin-right: 10vw;*/
    /*padding-right: 5vw;*/
    /*padding-top: 16px;*/
    width: 10vw;
}

.row {
    position: relative;
    top: -50vh;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/

    height: 5vh;
    width: 100vw;
}

.footer{
    position: absolute;
    left: 0;
    top: 90vh;
}

#nav-bar {
    position: absolute;
    left: 75vw;
}

.button {

}