html {
    font-family: Roboto, sans-serif;

    overflow-x: hidden;
}

main{

    width: 100vw;
}

.contents{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.content{
    display: flex;
    flex-flow: wrap;
    width: 100vw;
    margin-bottom: 3vh;
    /*height: 60vh;*/
    align-items: center;
}

.content > img{
    width: 20vw;
    object-fit: contain;
    margin: 2vw;
}

#center {
    flex-direction: row-reverse;
}

.text{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1vw;
    margin-right: 1vw;
}

.flexMainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    /*background-image: url("./files/src/main-title-back.svg");*/
}

@media screen and (max-width: 1023px) {
    .content > img {
        width: 90vw;
        object-fit: contain;
    }
    .content > p{
        width: 100vw;
    }
    #center {
        flex-direction: row;
    }
}